################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GenerateRandomPassword.Activities/obj/Debug
/.vs/GenerateRandomPassword.Activities/v15
/GenerateRandomPassword.Activities.Tests/obj/Debug
/GenerateRandomPassword.Activities.Tests/bin/Debug
/GenerateRandomPassword.Activities/bin/Debug
